---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/doc/check_for_updates
    body:
      encoding: UTF-8
      string: '{"token":"Ej7ORBNA225ahRCHg6m92OKFa0B8aQ4btFX59UlHL--hRKuIiT6LJ8VsV6OHLQ0_hmAcJAmY4wu5S7aKkklvaBk7f0KwGojZBXLrm2QbeDC9dEqQcAswW36PlsPJzfU0","file_ids":["DAz0fqDKo-dpEIhxMMHuPjG5","7SVKDshb95STC1XpMrCkp_Mc"]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","versions":{"7SVKDshb95STC1XpMrCkp_Mc":21,"DAz0fqDKo-dpEIhxMMHuPjG5":18}}'
  recorded_at: Mon, 07 Oct 2019 13:28:49 GMT
recorded_with: VCR 5.0.0
