---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/doc/edit
    body:
      encoding: UTF-8
      string: '{"token":"Ej7ORBNA225ahRCHg6m92OKFa0B8aQ4btFX59UlHL--hRKuIiT6LJ8VsV6OHLQ0_hmAcJAmY4wu5S7aKkklvaBk7f0KwGojZBXLrm2QbeDC9dEqQcAswW36PlsPJzfU0","file_id":"DAz0fqDKo-dpEIhxMMHuPjG5","changes":[{"action":"insert","parent_id":"root","index":0,"file_id":null,"node_id":null,"content":"new
        content","note":null,"created":null,"modified":null,"children_ids":[],"checked":false,"checkbox":false,"heading":0,"color_number":0}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","new_node_ids":["o5h2NqhNgk_OZaHBCfr-zkRs"]}'
  recorded_at: Tue, 08 Oct 2019 22:36:38 GMT
recorded_with: VCR 5.0.0
