---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/doc/edit
    body:
      encoding: UTF-8
      string: '{"token":"TEST_DUMMY_TOKEN","file_id":"DAz0fqDKo-dpEIhxMMHuPjG5","changes":[{"action":"edit","node_id":"0KXgB-e3dRc-dpEPXCfHtoOW","file_id":null,"content":"okok","note":null,"created":null,"modified":null,"children_ids":[],"checked":true,"checkbox":false,"heading":0,"color_number":0}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","new_node_ids":[]}'
  recorded_at: Tue, 08 Oct 2019 22:36:39 GMT
recorded_with: VCR 5.0.0
