---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/doc/edit
    body:
      encoding: UTF-8
      string: '{"token":"Ej7ORBNA225ahRCHg6m92OKFa0B8aQ4btFX59UlHL--hRKuIiT6LJ8VsV6OHLQ0_hmAcJAmY4wu5S7aKkklvaBk7f0KwGojZBXLrm2QbeDC9dEqQcAswW36PlsPJzfU0","file_id":"DAz0fqDKo-dpEIhxMMHuPjG5","changes":[{"action":"delete","node_id":"SDNpEM7h6HMwNu57MQvdkFxL"}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","new_node_ids":[]}'
  recorded_at: Tue, 08 Oct 2019 22:36:41 GMT
recorded_with: VCR 5.0.0
