---
http_interactions:
  - request:
      method: post
      uri: https://dynalist.io/api/v1/doc/read
      body:
        encoding: UTF-8
        string: '{"token":"TEST_DUMMY_TOKEN","file_id":"DAz0fqDKo-dpEIhxMMHuPjG5"}'
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: '{
        "_code":"Ok",
        "file_id":"DAz0fqDKo-dpEIhxMMHuPjG5",
        "title":"\u672A\u5B8C\u4E86\u30EA\u30B9\u30C8",
        "nodes":[
          {"id":"root","content":"node01","note":"","children":["iy2a5EscizQnqZZDWcCJW_g6"],"created":1564190038359,"modified":1564190052417},
          {"id":"iy2a5EscizQnqZZDWcCJW_g6","content":"node01","note":"","created":1564190123573,"modified":1564190225597}
        ],
        "version":18
      }'
    recorded_at: Mon, 07 Oct 2019 12:40:59 GMT
recorded_with: VCR 5.0.0
