---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/file/list
    body:
      encoding: UTF-8
      string: '{"token":"TEST_DUMMY_TOKEN"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","root_file_id":"nesgovWSyMh2FTzccvWfgFd-",
        "files":[
          {"id":"xT31mxRLUcuCFnlkMVQxbAtQ","title":"title01","type":"document","permission":4},
          {"id":"7SVKDshb95STC1XpMrCkp_Mc","title":"title02","type":"document","permission":4},
          {"id":"oMby1Vz6ynf62_VzlCIxkO8R","title":"title03","type":"folder","permission":4,"collapsed":true,"children":["IHfPK5dQoQVvMqNXcucZCbX7","IrEujgvZgN8tpt0xi_Xzm2ln","NwVIX7M5T0uzJGUV5mb3hp8R","qYvBXZ1-zUfrlYUne3m-6qez","GDFVRfQprr3BgO53AJnBJWVE","-GtKD20ag1pNTAxitgwc347w","xT31mxRLUcuCFnlkMVQxbAtQ","YgOUvv_3-KX8S1AcW5fU6SCU","akE8KEMTnv3Ng6z937IvW1ta","FKIXWXPsStDT2lUAC_x_Eytp","_-BBGEsPlPbp97FqiY8sMj1i","tl2rd4cMupE-ivSD5NShF4Zv","KAtq1hAQBe9qsI-uAOsS5jPR","D5BCWeu7qdxgFWfEAOIM5kYj","m8XCa4gzDqzHxC1lSByFuydM","0O24yVhqRx57Wj6QVyLSX_FW"]},
          {"id":"erxyO_yfqNb9V1RygUu5bQQs","title":"title04","ty[...]
