---
http_interactions:
- request:
    method: post
    uri: https://dynalist.io/api/v1/file/edit
    body:
      encoding: UTF-8
      string: '{"token":"Ej7ORBNA225ahRCHg6m92OKFa0B8aQ4btFX59UlHL--hRKuIiT6LJ8VsV6OHLQ0_hmAcJAmY4wu5S7aKkklvaBk7f0KwGojZBXLrm2QbeDC9dEqQcAswW36PlsPJzfU0","changes":[{"action":"edit","type":"document","file_id":"7SVKDshb95STC1XpMrCkp_Mc","title":"document01"},{"action":"move","type":"document","file_id":"7SVKDshb95STC1XpMrCkp_Mc","parent_id":"oMby1Vz6ynf62_VzlCIxkO8R","index":0}]}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_code":"Ok","results":[true,true]}'
  recorded_at: Sun, 06 Oct 2019 14:51:57 GMT
recorded_with: VCR 5.0.0
